$color-teal-dark: #233;
$color-teal-light: #bee;
$color-teal-lighter: #bff;
$color-red-light: #f9a;//#fcd;
$color-blue-light: #8bf;//#adf;
$color-yellow-light: #ffc;
$color-orange-light: #fc6;//#ea8;
$color-pink-light:  #f04;
$color-white-default: #fff;
$color-green-light: #cf9;
$color-violet-dark: #223;
$color-grey-light: #bbc;

$color-brand: #c04;
$color-page-background: $color-violet-dark;
$color-text: $color-grey-light;
$color-link: $color-blue-light;