$font-family-heading-webfont: 'acuta', Georgia, Times, serif;
$font-family-serif-default: Georgia, Times,  serif;
$font-family-body-webfont: 'pt-sans', Arial, Helvetica, sans-serif;
$font-family-body-default: Arial, Helvetica, sans-serif;
$font-family-body-system: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
