$break-point: 70em;

html,
body {
  height: 100%;
}

.site-grid {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  min-height: 100%;
  grid-template-areas: "header""main""footer";
  // @media (min-width: $break-point) {
  //       grid-template-columns: 5fr 2fr;
  //       grid-template-rows: auto 1fr auto;
  //       grid-template-areas: "header header" "main aside" "footer footer";
  // }
}

.site-main {
  // margin: 0 auto;
  // max-width: 40em;
  // max-width: calc(40em + 1vw);
  grid-area: main;
  // padding: calc(.5em + 2vw);
  // border: 1px solid #055;
  // @media (min-width: $break-point-small) {
  //   background: linear-gradient(120deg, white,#835);
  // }
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  @media (min-width: $break-point-small) {
    flex-direction: row;
    padding: 1em;
  }
}

.site-header {
  grid-area: header;
}

.side-bar {
  grid-area: aside;
}

.site-footer {
  grid-area: footer;
}


.main-content {
  // flex-basis: 64%;
  flex-grow: 7;
  // max-width: 35em;
  margin: 0 auto;
  @media (min-width: $break-point-small) {
    background: #fafafa;
    box-shadow: 0 12px 88px rgba(0,0,0,.3);
    body:not(.home) &{
      max-width: calc(35em + 1vw);
      padding: 2em;
    }
  }
}

.content-aside {
  flex-grow: 2;
  @media (min-width: $break-point-small) {
    flex-basis: 50%;
    margin-left: 5vw;
    body:not(.home) & {
      flex-basis: 36%;
      margin-left: 10vw;
    }
  }
}