* {
    box-sizing: border-box;

    &::selection {
        background-color: $color-brand;
        color: $color-page-background;
    }
}

html {
    font-family: $font-family-body-system;
    height: 100%;
    background-color: $color-page-background;
    color: $color-text;
    color: $color-text-trans;
    letter-spacing: 0.02em;
    word-spacing: .1em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    font-size: 16px;
    font-size: calc(18px + .2vw);
    @media (min-width: $break-point-small) {
        font-weight: 300;
    }
}

p {
    margin: 1.5em 0;
    margin: calc(1em + .5vw) 0;
    line-height: calc(1.5em + .2vw);
    @media (min-width: $break-point-small) {
        line-height: 1.9;
    }
}

a {
    color: $color-text;
    color: $color-text-trans;
    text-decoration: underline;
    overflow-wrap: break-word;
    &:active {
        color: $color-brand-light;
    }
}

img, h1 {
    width: 100%;
}

h1 {
    font-size: calc(1.6rem + 1.6vw)
}