<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    
    {{ $.Scratch.Set "home_class" "" }}
    {{ $.Scratch.Set "list_class" "" }}
    {{ $.Scratch.Set "display_side_bar" "" }}
    
    {{ if (isset .Params "tiles") }}
    {{ $.Scratch.Set "list_class" "tiles" }}
    {{ end }}

    <body>
        <div class="site-grid">
            {{- partial "header.html" . -}}
            <div class="site-main">
                {{ $list_class := $.Scratch.Get "list_class" }}

                <main id="main" class="main-content {{ $list_class }}">{{- block "main" . }}{{- end }}</main>
                {{ if (ne .Params.sidebar false) }}
                {{ if templates.Exists "partials/sidebar.html" }}
                    <div class="content-aside" role="complementary">{{- partial "sidebar.html" . -}}</div>
                {{ end }}
                {{ end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>
        {{- partial "freshchat.html" . -}}
        {{ template "_internal/google_analytics_async.html" . }}
    </body>
</html>
