.c-flat-list {
    &#{&} {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-around;
        width: 100%;
    }
    li {
        display: inline-block;
        padding: 5px;
    }
}