
.c-flat-list {
    &#{&} {
        display: flex;
        padding: 0;
        justify-content: center;
        max-width: 600px;
        margin: 0 auto;
        @media (min-width: $break-point-small) {
            margin: 0 0 0 auto;
        }
    }
    li {
        display: inline-block;
        padding: 5px;
        flex-basis: 100%;
    }
    span {
        text-align: center;
        // overflow: hidden;
        // max-width: 120px;
        text-overflow: ellipsis;
    }
}

.c-vertical-list {
    list-style: none;
    line-height: 1.618;
    padding: 0;
}