<footer class="site-footer" role="contentinfo">
    <nav>
        {{ range $.Site.Data.menu.footer }}
        {{ partial "menu.html" . }}
        {{ end }}
    </nav>
    <div class="declarations">
        {{- partial "custom_footer.html" . -}}
    </div>
    <p class="design_firm_info">Website Design and development by <a rel="noopener"
            href="https://github.com/vijayabharathib">Vijayabharathi B</a>. Copyright <a
            href="https://pineboat.in">{{- $.Site.Title -}}</a> © 2019</p>
</footer>