<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links and stylesheets -->
    <!--link rel="stylesheet" href="/css/main.css" /-->
    {{ if .Site.IsServer }}
        {{ $cssOpts2 := (dict "targetPath" "styles/default.css" "enableSourceMap" true ) }}
        {{ $styles2 := resources.Get "styles/default.scss" | toCSS $cssOpts2 | postCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $styles2.RelPermalink }}" media="screen">
    {{ else }}
        {{ $cssOpts2 := (dict "targetPath" "styles/default.css" ) }}
        {{ $styles2 := resources.Get "styles/default.scss" | toCSS $cssOpts2 | postCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $styles2.RelPermalink }}" media="screen">
    {{ end }}
    <!-- end of style sheets -->
    <link rel="canonical" href="{{ .URL | absLangURL }}" />
    <link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0044">
    <meta name="apple-mobile-web-app-title" content="PineBoat">
    <meta name="application-name" content="PineBoat">
    <meta name="theme-color" content="#333333">
    
    <!-- Site Title, Description, Author, and Favicon -->
    {{ if .IsHome }}
    <title>{{ print "Home" " | " $.Site.Title " 🏆 " $.Site.Params.Subtitle }}</title>
    {{ else }}
    <title>{{ print .Title " | " $.Site.Title " 🏆 " $.Site.Params.Subtitle }}</title>
    {{- end -}}
    {{- with  .Description | default .Params.Subtitle | default .Site.Params.Subtitle |  default .Summary }}
    <meta name="description" content="{{ . }}">
    {{- end }}
    
    {{ if ne (in .Permalink "localhost") true }}
        {{ if $.Site.GoogleAnalytics }}
        <script>
            window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date; ga('create', '{{- $.Site.GoogleAnalytics -}}', 'auto');ga('set','anonymizeIp',true); ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        {{ end }}
    {{ end }}
</head>
    