<header class="site-header" role="banner">
    <div class="site-logo">
        <figure class="o-logo">
        <a href="/" class="c-logo-link" >
            <img src="/img/site_logo.svg" class="c-logo-image" alt="logo" />
        </a>
        </figure>
        <a href="/" class="site-title"><h1>{{ $.Site.Title }}</h1></a>
    </div>
    <nav class="o-site-nav">    
        <ul class="c-flat-list" >
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class='list-item {{ if (eq $currentPage.URL .URL) }}active{{ end }}'>
                <a href="{{ .URL }}">
                    {{ if (gt (len .Pre) 0) }}
                    <svg class="icon {{ .Pre }}"><use xlink:href="/img/svg_sprite.svg#{{- .Pre -}}"></use></svg>
                    {{ end }}
                    <span>{{- .Name -}}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>
